@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    width: 100%;
    /* padding: 0rem 1.5rem; */
    font-family: 'Roboto',sans-serif;
}
img{
    width: 100%;
}
header{
    display: grid;
    grid-template-columns: 2fr 7fr 2fr;
    gap: 1rem;
    overflow: hidden;
    padding: 0.3rem 1.5rem;
}
.logo-section{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}
img.hamburger-icon{
    width: 25px;
}
img.logo-icon{
    width: 100px;
    margin-left: 1rem;
}
.searchBar{
    display: grid;
    width: 600px;
    justify-self: center;
    grid-template-columns: 1fr auto;
    align-content: center;
}
.searchBar img{
    width: 25px;
}
input[type="text"]{
    border-radius: 2px;
    border: solid 1px gray;
    padding-left: 1rem;
    outline: none;
}
input[type="text"]:focus { 
    outline: none !important;
    border: 1px solid #2968dd;
 }
 .register{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
 }
 .register img{
    width: 25px;
 }
 .register .Sign-Up{
    border-radius: 2px;
    border: 1px solid #196bd8;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    padding: 0.5rem 0.5rem; 
    text-decoration: none;
    color: #196bd8;
    gap: 0.4rem;
 }
main{
    display: grid;
    grid-template-columns: 230px 1fr;
    height: 100vh;
    
}
nav{
    align-content: start;
    font-size: 0.8rem;
    display: grid;
    overflow: auto;
    height: 100%;
}
.section-1,
.section-2,
.section-3,
.section-4,
.section-5,
.browse-channel{
    list-style: none;
    padding: 0.5rem 0rem;
    border-bottom: 1px solid #0000001a;
}
.nav-list__item{
    list-style: none;
    
}
.nav-list__item a{
    display: grid;
    grid-template-columns: 25px 1fr;
    align-items: center;
    gap: 1rem;
    height: 40px;
    text-decoration: none;
    padding: 0rem 1.5rem;
}
.nav-list__item a:hover{
    background-color: rgba(128, 128, 128, 0.13);
}
h3{
    font-weight: 300;
    color: black;
}
.subscribe{
    padding: 1rem;
    border-bottom: 1px solid #0000001a;
}
.subscribe p{
    padding-bottom: 1rem;
}

.section-3 img{
    border-radius: 50%;
}
.section-3 .title,
.section-4 .title{
    font-size: 0.6rem;
    color: #606060;
    padding: 0.5rem 1.5rem;
}
.subscribe__link{
    display: grid;
    grid-template-columns: 25px 1fr;
    border: 1px solid #196bd8;
    border-radius: 3px;
    padding: 0.4rem 1.2rem;
    place-items: center;
    width: max-content;
    text-decoration: none;
    color: #196bd8;
    gap: 0.5rem;
    font-weight: bold;
}
.about-us,
.terms{
    padding: 0.5rem 0rem;
}
h5{
    padding: 0.5rem 0rem;
    color: #909090;
    font-weight: normal;
}
footer{
    padding: 0rem 1.5rem;
}
.footer-items{
    display: inline-block;
}
.footer-items a{
    text-decoration: none;
    font-weight: 600;
    padding: 0.4rem;
    color: #909090;
    
}
.content__box{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, 290px);
    border-bottom: 2px solid gray;
    justify-content: center;
    background-color: #f9f9f9;
    padding: 2rem;
}
.random__box{
  display: grid;
  grid-auto-flow: row;
  align-content: start;
}

.box_description{
    display: grid;
    grid-template-columns: 40px 1fr 20px;
    padding: 1rem 0rem;
    font-size: 0.8rem;
    gap: 0.3rem;
}

.box_description__logo img{
    max-width: fit-content;
    border-radius: 25px;
}
.box_description__text{
    display: grid;
    gap: 0.5rem;
    grid-auto-flow: row;
}
.title a{
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.more-info{
    display: grid;
}
.more-info a{
    text-decoration: none;
    color: #606060;
}
@media screen and (max-width: 500px){
    main{
        grid-template-columns: 50px 1fr;
    }
}