@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    width: 100%;
    height: 100vh;
    padding: 0rem 1rem;
}
img{
    width: 100%;
}
header{
    height: 56px;
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    gap: 3rem;
    overflow: hidden;
}
.logo-section{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}
img.hamburger-icon{
    width: 20px;
}
img.logo-icon{
    width: 80px;
    margin-left: 1rem;
}
.searchBar{
    display: grid;
    padding: 0.5rem;
}
input[type="text"]{
    border-radius: 2px;
    border: solid 1px gray;
    padding-left: 1rem;
    outline: none;
}
input[type="text"]:focus { 
    outline: none !important;
    border: 1px solid #2968dd;
 }
 .register{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
 }
 .register img{
    width: 20px;
 }
 .register .Sign-Up{
    border-radius: 2px;
    border: 1px solid #77c0e9;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    padding: 0.5rem;
    text-decoration: none;
    color: #77c0e9;
 }
main{
    display: grid;
    grid-template-columns: 250px 1fr;
}
nav{
    background-color: rgb(224, 182, 125);
    height: 100vh;
}
section{
    background-color: rgb(197, 240, 154);
    height: vh;
}